@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes HomePageAnimation {
    0% {
        transform: scale(1);
        color: aqua;
    }
    50% {
        transform: scale(1.2);
        color: #0288d1;
    }
    100% {
        transform: scale(1);
        color: aqua;
    }
}

@keyframes buttonPress {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.button-press {
    animation: buttonPress 0.2s forwards;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(57, 57, 176);
    color: #333;
    animation: fadeIn 2s ease-in-out;
}

title {
    color: aqua;
    animation: titleAnimation 3s infinite;
}

header {
    background-color: #0288d1;
    color: rgb(186, 13, 13);
    padding: 0.25em 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
    position: relative;
    font-size: 0.9em;
    border-bottom: 3px solid #0277bd;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

nav button {
    background-color: #0288d1;
    color: white;
    border: none;
    font-size: medium;
    padding: 0.75em 1.5em;
    margin-left: 0.25em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav button:hover {
    background-color: #0277bd;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

nav button:active {
    transform: translateY(0);
}

#clock {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2em;
    border: 2px solid #333;
    color: white;
    border-radius: 8px;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeIn 2s ease-in-out;
}

h2 {
    color: #0288d1;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style-type: square;
    padding-left: 1.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 2px -2px gray;
}